body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background-color: #f0f2f5;
    color: #333;
  }
  
  button {
    transition: all 0.3s ease;
  }
  
  button:hover {
    transform: scale(1.05);
  }
  